<div style="background-color: antiquewhite">
  <p style="background-color: orange">test2 routing works!</p>

  <ul>
    <li
      [ngClass]="{ selected: tool.id === toolID }"
      *ngFor="let tool of frontTools"
      (click)="details(tool.id)"
    >
      {{ tool.id }} {{ tool.name }}
    </li>
  </ul>

  <p *ngIf="toolID">item ID is: {{ toolID }}</p>

  <input type="text" [(ngModel)]="inputText" />
  <button (click)="sendInputValue()">show data in sub page by service</button>
  <span *ngIf="toolID == 1">Angular is red</span>
  <span *ngIf="toolID == 2">React is blue</span>

  <a
    *ngIf="toolID"
    style="background-color: brown; margin: 150px; color: white"
    (click)="goSub()"
    >Sub Page</a
  ><router-outlet></router-outlet>

  <div>
    <a (click)="goPrev()">Prev</a> <a (click)="goNext()">Next</a
    ><a (click)="goBack()">Back</a>
  </div>
</div>
