a {
  margin-right: 10px;
  background-color: burlywood;
  padding: 4px;
  border-radius: 4px;
}
a:hover {
  cursor: pointer;
}
li:hover {
  cursor: pointer;
  color: black;
}
li {
  color: cornflowerblue;
}
.selected {
  color: rgb(136, 40, 131);
}
