<form (ngSubmit)="onsubmit()" #f="ngForm">
  <label for="username">username</label
  ><input ngModel required name="username" id="username" type="text" />
  <br />
  <label for="email">email</label>
  <input id="email" ngModel required email name="email" type="email" />
  <br />
  <select ngModel name="select">
    <option value="selectone">selectone</option>
    <option value="selecttwo">selecttwo</option>
    <option value="selectthree">selectthree</option>
  </select>
  <button type="submit" [disabled]="!f.valid">submit</button>
</form>
