<h2 (click)="showDanger()">Hi</h2>
<div
  [ngStyle]="{ 'background-color': getColor() }"
  [ngClass]="{ online: this.stat === 'online' }"
  style="display: inline"
>
  {{ stat }}
</div>
<button
  *ngIf="showDanger()"
  class="btn btn-danger"
  [disabled]="btnDisabled"
  (click)="clickEvent()"
>
  Danger
</button>
<button
  class="btn btn-primary"
  id="reset"
  [disabled]="inputValue === ''"
  (click)="inputValue = ''"
>
  Reset
</button>
<input
  [type]="inputType"
  (blur)="logValue($event)"
  placeholder="this text wil alert on blur"
/>
<input type="text" placeholder="show in p" [(ngModel)]="inputValue" />
<p>{{ inputValue }}</p>
<div appRendererHilight hovertColor="pink">
  my id is {{ getID() }} and my name is {{ name }}
</div>
<img [src]="imgUrl" style="width: 140px" />
<button
  type="button"
  class="btn btn-warning"
  style="display: block; margin-top: 20px"
  (click)="display()"
>
  Display details
</button>
<p *ngIf="isDisplay">password:123</p>
<div *ngFor="let item of numArray; let i = index" [ngClass]="{ blue: i > 5 }">
  {{ item }}
</div>
